@model OrderHistoryModel
@{
    ViewData["Title"] = "Order History";
}

<h1 class="text-center my-3">@ViewData["Title"]</h1>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-12">
            <p class="ms-5 mb-3"><strong>Orders in Progress</strong></p>
            <hr />
            @if(Model.PendingOrders.Count > 0){
                <div class="w-100 bg-light p-3 pb-0">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Order No.</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                                <th scope="col">View Details</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var order in Model.PendingOrders)
                            {
                                <tr>
                                    <th scope="row">#@order.OrderId.ToString("D5")</th>
                                    <td>@order.OrderPlaced.ToString("M/d/yy") <br /> @order.OrderPlaced.ToString("h:mm tt")</td>
                                    <td>@order.FirstName @order.LastName</td>
                                    <td>@order.GetSubTotal().ToString("c")</td>
                                    <td><a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId"><i class="bi bi-search"></i></a></td>
                                </tr>
                                
                            }

                        </tbody>
                    </table>
                </div>
            }else{
                 <!--If No Orders In Progress-->
                <div class="text-center w-100 p-3 bg-light">
                    <p><strong>No Orders Currently in Progress</strong></p>
                </div>
            }
            
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 w-100">
            <p class="ms-5 mb-3"><strong>Completed Orders</strong></p>
            <hr />

            @if (Model.CompletedOrders.Count > 0)
            {
                    <!--If Orders Completed-->
                    <div class="w-100 bg-light p-3 pb-0">
                    <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Order No.</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Total</th>
                            <th scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var order in Model.CompletedOrders)
                        {
                            <tr>
                                <th scope="row">#@order.OrderId.ToString("D5")</th>
                                <td>@order.OrderPlaced.ToString("M/d/yy") <br /> @order.OrderPlaced.ToString("h:mm tt")</td>
                                <td>@order.FirstName @order.LastName</td>
                                <td>@order.GetSubTotal().ToString("c")</td>
                                <td><a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId"><i class="bi bi-search"></i></a></td>
                            </tr>
                                
                        }


                      
                    </tbody>
                </table>
            </div>
            }else{
                <!--If No Orders Completed-->
                <div class="text-center w-100 bg-light">
                    <p><strong>No Completed Orders Found<strong></p>
                </div>
            
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12 w-100">
            <p class="ms-5 mb-3"><strong>Cancelled Orders</strong></p>
            <hr />

            @if (Model.CancelledOrders.Count > 0)
            {
                        <!--If Orders Completed-->
                        <div class="w-100 bg-light p-3 pb-0">
                        <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Order No.</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                                <th scope="col">View Details</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var order in Model.CancelledOrders)
                            {
                                    <tr>
                                        <th scope="row">#@order.OrderId.ToString("D5")</th>
                                        <td>@order.OrderPlaced.ToString("M/d/yy") <br /> @order.OrderPlaced.ToString("h:mm tt")</td>
                                        <td>@order.FirstName @order.LastName</td>
                                        <td>@order.GetSubTotal().ToString("c")</td>
                                        <td><a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId"><i class="bi bi-search"></i></a></td>
                                    </tr>

                            }



                        </tbody>
                    </table>
                </div>
            }
            else
            {
                    <!--If No Orders Completed-->
                    <div class="text-center w-100 bg-light">
                        <p><strong>No Completed Orders Found<strong></p>
                    </div>

            }
        </div>
    </div>

</div>
